<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="NetMQ" version="4.0.0.207" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NLog" version="4.7.1" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.1" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.1" targetFramework="net48" />
</packages>