<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="app_api_key" value="zeron.testkey" />

        <add key="deploy_app_title" value="Zeron.Demand" />
        <add key="deploy_app_debug" value="true" />
        <add key="deploy_srvice_name" value="Zeron.Demand" />
        <add key="deploy_service_description" value="Windows Service for Scheduled Tasks" />
        <add key="deploy_service_displayname" value="Zeron Demand Service" />
        <add key="deploy_service_instancename" value="Zeron.Demand.Application" />

        <add key="zmq_pub_enabled" value="true" />
        <add key="zmq_pub_addr" value="tcp://*:5588" />
        <add key="zmq_sub_enabled" value="true" />
        <add key="zmq_sub_addr" value="tcp://*:5000" />
        <add key="zmq_rep_enabled" value="true" />
        <add key="zmq_rep_addr" value="tcp://*:5589" />
    </appSettings>
</configuration>