<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server_enabled" value="false" />
    <add key="server_url" value="http://localhost:5000" />
    <add key="server_heartbeat_interval_ms" value="30000" />
    <add key="zmq_sub_enabled" value="false" />
    <add key="zmq_sub_addr" value="tcp://localhost:6000" />
    <add key="zmq_sub_api_key" value="zeron.testkey" />
  </appSettings>
</configuration>