<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="app_api_key" value="zeron.testkey" />
    <add key="deploy_app_title" value="Zeron.Demand" />
    <add key="deploy_app_debug" value="true" />
    <add key="deploy_srvice_name" value="Zeron.Demand" />
    <add key="deploy_service_description" value="Windows Service for Scheduled Tasks" />
    <add key="deploy_service_displayname" value="Zeron Demand Service" />
    <add key="deploy_service_instancename" value="Zeron.Demand.Application" />
    <add key="zmq_pub_enabled" value="false" />
    <add key="zmq_pub_addr" value="tcp://*:5588" />
    <add key="zmq_pub_api_key" value="" />
    <add key="zmq_sub_enabled" value="false" />
    <add key="zmq_sub_addr" value="tcp://*:5000" />
    <add key="zmq_sub_api_key" value="" />
    <add key="zmq_rep_enabled" value="true" />
    <add key="zmq_rep_addr" value="tcp://*:5589" />
    <add key="zmq_rep_api_key" value="zeron.testkey" />
    <add key="mail_host" value="" />
    <add key="mail_port" value="" />
    <add key="mail_user_login" value="" />
    <add key="mail_user_password" value="" />
    <add key="mail_sender_name" value="" />
    <add key="mail_sender_address" value="" />
    <add key="mail_recipients_administrator" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>