<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${logDirectory}/zeron-demand-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            archiveEvery="Day"
            maxArchiveFiles="14"
            createDirs="true" />

    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="common" minlevel="Info" writeTo="file,console" />
    <logger name="error" minlevel="Warn" writeTo="file,console" />
    <logger name="native_error" minlevel="Error" writeTo="file,console" />
    <logger name="*" minlevel="Warn" writeTo="file" />
  </rules>
</nlog>
